body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  width: 100%;
}
